@tailwind base;
@tailwind components;
@tailwind utilities;

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  @media (max-width: 2000px) {
    #custom-4k-left {
      left: 28% !important;
    }
  }